<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs', { user: locals.user }) %>
<div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-6 mx-auto text-center bg-white p-3">
            <h3 class="textTitle">Zaloguj się</h3>
            <form class="form-horizontal" id="loginForm" method="post">
                <div class="form-group">   
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="email">Wpisz E-mail</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="email" placeholder="E-mail" id="email" name="email" class="form-control shadow bg-white rounded"/>
                    </div>
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="password">Wpisz hasło</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="password" placeholder="Hasło" id="password" name="password" class="form-control shadow bg-white rounded"/>
                    </div>
                </div>
                <div class="form-group">  
                    <div class="col-sm-8 mx-auto">
                        <button id="loginBtn" type="submit" class="btn">Zaloguj się</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="col-sm-8 mx-auto">
                    <a href="/auth/register" id="link" >Zarejstruj się</a>
                </div>
            </div>
            <div class="col-sm-8 mx-auto">
                <span class="errorMessageText" id="message"></span>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>

<%- include('../partials/footer.ejs') %>
