<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-6 mx-auto text-center bg-white p-3">
            <h3 class="textTitle">Stwórz konto</h3>
            <form class="form-horizontal" id="registerForm" method="POST">
                <div class="form-group">   
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="name" >Imię</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" placeholder="Jan" id="name" name="name" class="form-control shadow bg-white rounded"/>
                    </div>
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="surname">Nazwisko</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" placeholder="Aplikant" id="surname" name="surname" class="form-control shadow bg-white rounded"/>
                    </div>
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="email" >E-mail</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="email" placeholder="janaplikant@gmail.com" id="email" name="email" class="form-control shadow bg-white rounded"/>
                        <small id="emailHelp" class="form-text text-muted">Nigdy nie udostępnimy Twojego maila, chyba że postanowimy inaczej.</small>
                    </div>
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="password">Hasło</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="password" placeholder="Hasło" id="password" name="password" class="form-control shadow bg-white rounded"/>
                    </div>
                    <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="repeatPassword">Powtórz hasło</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="password" placeholder="Powtórz hasło" id="repeatPassword" name="repeatPassword" class="form-control shadow bg-white rounded"/>
                    </div>
                </div>
                <div class="form-group">  
                    <div class="col-sm-offset-2 col-sm-12">
                        <button id="registerBtn" type="submit" class="btn">Zarejstruj się</button>
                    </div>
                </div>
            </form> 
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-12">
                    <a href="/auth/login" id="link" class="link-secondary" >Masz konto? Zaloguj się</a>
                </div>
            </div> 
            <div class="col-sm-offset-2 col-sm-12">
                <h6 class="errorMessageText" id="message"></h6>
            </div>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>

<%- include('../partials/footer.ejs') %>

