<%- include('../partials/head.ejs') %>

<div class="container">
    <h3 class="textTitle">Stwórz konto</h3>
    <form class="form-horizontal" id="registerForm" method="put">
        <div class="form-group">   
            <label class="control-label col-sm-2" for="name" >Wpisz swoje imię</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Jan" id="name" name="name"/>
            </div>
            <label class="control-label col-sm-2" for="surname">Wpisz swoje nazwisko</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Aplikant" id="surname" name="surname"/>
            </div>
            <label class="control-label col-sm-2" for="email">Wpisz swój E-mail</label>
            <div class="col-sm-10">
                <input type="email" placeholder="janaplikant@gmail.com" id="email" name="email"/>
            </div>
            <label class="control-label col-sm-2" for="passwordInput">Wpisz hasło</label>
            <div class="col-sm-10">
                <input type="password" placeholder="Hasło" id="password" name="password"/>
            </div>
            <label class="control-label col-sm-2" for="repeatPassword">Powtórz swoje hasło</label>
            <div class="col-sm-10">
                <input type="password" placeholder="Powtórz hasło" id="repeatPassword" name="repeatPassword"/>
            </div>
        </div>
        <div class="form-group">  
            <div class="col-sm-offset-2 col-sm-10">
                <button id="registerBtn" type="submit">Zarejstruj się</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/auth/login" id="link" >Masz konto? Zaloguj się</a>
            </div>
        </div>
    </form>    
    <div class="col-sm-offset-2 col-sm-10">
        <h6 class="Error message" id="message"></h6>
    </div>
</div>

<!--<script src="../../public/js/register.js"></script>-->

<script>

const registerForm = document.getElementById('registerForm');
const registerButton = document.getElementById('registerBtn');

registerButton.addEventListener('click', (event) => {
    event.preventDefault();

    const request = new XMLHttpRequest();
    const formData = new FormData(registerForm) ;
        
    var errorMesseges = "";
    var password = formData.get('password');
    console.log(password);
    var repeatPassword = formData.get('repeatPassword');
    console.log(repeatPassword);
    request.addEventListener('load', (event) => {
        const response = JSON.parse(event.target.responseText);

        if(response.redirect === 'login'){
            window.location.href = '/auth/login';
        }else{
            if(response.errors !== null){
                response.errors.forEach(element => {
                    errorMesseges+=element+". ";
                });
                document.getElementById('message').innerHTML = errorMesseges;
            }
        }
    });
    if(password === repeatPassword){
        request.open('PUT', '/auth/register');
        request.send(formData);
    }else{
        document.getElementById('message').innerHTML = 'Hasło i powtórzone hasło nie są takie same';
    }

});

        
</script>

<%- include('../partials/footer.ejs') %>

