<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-6 mx-auto text-center bg-white p-3">
            <h3>Wybierz co chcesz teraz robić</h3>
            <div class="col-sm-8 mx-auto">
                <a href="/admin/manage_organisation" class="btn btn-block">Stwórz organizację</a>
            </div>
            <br>
            <br>
            <div class="col-sm-8 mx-auto">
                <a href="/admin/show_organisations" class="btn btn-block">Przeglądaj organizacje</a>
            </div>
            <br>
            <div class="col-sm-8 mx-auto">
                <a href="/admin/manage_employer" class="btn btn-block">Stwórz konto pracownicze</a>
            </div>
            <br>
            <br>
            <div class="col-sm-8 mx-auto">
                <a href="" class="btn btn-block">Przeglądaj konta pracownicze</a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
