<%- include('../partials/head.ejs') %>

<div class="container">
    <h2>Your Profile</h2>
    <form class="form-horizontal" id="contactForm">
        <div class="form-group">
            <!-- TODO: append user_id to src-->
            <img src="uploads/profilePictures/64397e2fbed0bea2e17824d2/profilePicture.png" alt="Profile Picture" class="col-sm-3" id="profilePicturePreview"/>
            <div class="col-sm-10">
                <input type="file" name="profilePicture" id="profilePicture" />
            </div>   
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input type="text" name="name" id="name" />
            </div>

            <label class="control-label col-sm-2" for="surname">Surname:</label>
            <div class="col-sm-10">
                <input type="text" name="surname" id="surname" />
            </div>

            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" name="email" id="email" />
            </div>

            <label class="control-label col-sm-2" for="number">Phone:</label>
            <div class="col-sm-10">
                <input type="tel" name="number" id="number" />
            </div>

            <label class="control-label col-sm-2" for="birthdate">Birthdate:</label>
            <div class="col-sm-10">
                <input type="date" name="birthdate" id="birthdate" />
            </div>

            <label class="control-label col-sm-2" for="homeAddress">Home Address:</label>
            <div class="col-sm-10">
                <input type="text" name="homeAddress" id="homeAddress" />
            </div>

            <label class="control-label col-sm-2" for="links">Links:</label>
            <div class="col-sm-10" id="inputArray">
                <input class="array-input" type="text" id="input0" /><button type="button" data-buttonindex="" class="array-remove" id="0">x</button>
            </div>
            <button id="arrayAdd">+</button>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<script src="js/varyingSizeInputArray.js"></script>
<script src="js/profilePicturePreview.js"></script>

<%- include('../partials/footer.ejs') %>
