<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/">
        <img src="/img/logo.png" alt="szychta.pl logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li></li>
        </ul>
        <div class="my-2 my-lg-0 mr-4">
            <a href="/auth/login" class="nav-link">Zaloguj</a>
        </div>
    </div>
</nav>
