<div id="skillsComponent">
    <input type="text" id="skillsSearchBar" />
    <div id="skillsResults" class="border h-100">
        Start typing to search for skills or 
        <span id="newSkillClickText">create new one.</span>
    </div>
    <form>
        <input type="text" name="name" id="skillName" />
    </form>
</div>
<script src="/js/skillsSearch.js"></script>
