<!-- TODO: expand template for no creation / picking option -->
<div class="container" style="padding-top: 100px;">
    <div class="form-group">
        <div id="skillsComponent" class="col-md-6 mx-auto text-center bg-white p-3">
            <form autocomplete="off">
                <input type="text" id="skillsSearchBar" class="form-control shadow bg-white rounded"/>
                <input autocomplete="off" type="hidden" name="pickedSkills" id="pickedSkills" value="<% if(locals.pickedSkills) { %><%= locals.pickedSkills.join(';') %>;<% } %>"/>
            </form>
            <div id="skillsResults" class="border h-75">
                Zacznij wpisywać, aby szukać umiejętności
            </div>
            <span <% if(!ableToCreate) { %> style="display: none" <% } %>id="newSkillClickText">Stwórz nową</span>
        </div>
    </div>
</div>
<br>
<% if(ableToCreate) { %>
<div class="container" style="padding-bottom: 50px;">
    <form id="skillForm" style="display: none;" class="form-vertical col-md-6 mx-auto text-center bg-white p-3" autocomplete="off">
        <h2>Create new skill</h2>
        <div class="form-group"> 
            <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="skillName">Nazwa</label>
            <div class="col-sm-8 mx-auto">
                <input type="text" name="name" id="skillName" required/>
            </div>
            <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="skillDesc">Opis</label>
            <textarea name="description" id="skillDesc" cols="32" rows="2"></textarea>
            <label class="control-label col-sm-6 pt-2 pb-1 m-0" for="0input">Słowa kluczowe</label>
            <!-- prefix: "keywords" -->
            <div class="col-sm-10" id="keywords-inputArray">
                <div class="col-sm-8 mx-auto">
                    <!-- TODO: Initialize varingSizeInputArray.js script currentArrayLen variable -->
                    <button id="keywords-arrayAdd" class="btn mb-2" style="display: inline;">Dodaj</button>
                </div>
            </div>
        </div>
        <input type="submit" value="Utwórz" id="addSkill" class="btn" />
        <div id="skillSaveResult" class="mt-2"></div>
    </form>
</div>
<% } %>
<script type="module">
    import { initializeSkillsSearch } from '/js/skillsSearch.js';
    initializeSkillsSearch(<%= ableToCreate %>);
</script>
<% if(ableToCreate) { %> <script type="module"></script>
<script type="module">
    import { initializeVaryingSizeInputArray } from '/js/varyingSizeInputArray.js';
    import { submitSkill } from '/js/submitSkill.js';
    initializeVaryingSizeInputArray('keywords', 0, 32);
    submitSkill();
</script><% } %>
