<div>
    <% if(locals.skills) { locals.skills.forEach(skill => {  %>
        <div class="alert alert-secondary p-2 mx-auto my-2 skill-listed col-lg-11"><%= skill.name %></div>
    <% }); } %>
</div>
