<div id="skillsComponent">
    <input type="text" id="skillsSearchBar" />
    <div id="skillsResults" class=" border h-100">
        Start typing to search for skills
    </div>
</div>
<script src="/js/skillsSearch.js"></script>