<%- include('../partials/head.ejs') %>

<div class="container">
    <div>
        <a href="/employer/manage_offer" class="btn">Stwórz ofertę pracy</a>
    </div>
    <div>
        <a href="" class="btn">Zmoydfikuj ofertę pract</a>
    </div>
    <div>
        <a href="/skills/create" class="btn">Stwórz umiejętność do rekrutacji</a>
    </div>
    <div>
        <a href="" class="btn">Przeglądaj aplikacje</a>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
