<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-6 mx-auto text-center bg-white p-3">
            <h3>Wybierz co chcesz teraz robić</h3>
            <div class="col-sm-8 mx-auto">
                <a href="/employer/manage_offer" class="btn btn-block">Stwórz ofertę pracy</a>
            </div>
            <br>
            <div class="col-sm-8 mx-auto">
                <a href="" class="btn btn-block">Zmoydfikuj ofertę pracy</a>
            </div>
            <br>
            <div class="col-sm-8 mx-auto">
                <a href="/skills/create" class="btn btn-block">Stwórz umiejętność do rekrutacji</a>
            </div>
            <br>
            <div class="col-sm-8 mx-auto">
                <a href="" class="btn btn-block">Przeglądaj aplikacje</a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
