<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container pt-5">
    <h2>Create new skill</h2>
    <%- include('../partials/skillsComponent.ejs', { ableToCreate: true }) %>
</div>
<%- include('../partials/footer.ejs') %>