<%- include('../partials/head.ejs') %>

<div class="container">
    <h2>Create new skill</h2>
    <%- include('../partials/skillsComponent.ejs', { ableToCreate: true }) %>
</div>
<%- include('../partials/footer.ejs') %>