html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #445766;
    font-family: 'Montserrat';
}

.btn {
    color: white;
    background-color: #445766;
}

.btn-decolored {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}
  
#skillsComponent {
    height: 270px;
    width: 370px;
}

#newSkillClickText  {
    text-decoration: underline;
    cursor: pointer;
}

#keywords-inputArray {
    margin: 0 auto;
}
