html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #445766;
    font-family: 'Montserrat';
}

.btn {
    color: white;
    background-color: #445766;
    border-radius: 25px;
}

.btn-decolored {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

.form-control {
    border-radius: 25px !important;
}
  
#skillsComponent {
    height: 370px;
    width: 370px;
}

#newSkillClickText  {
    text-decoration: underline;
    cursor: pointer;
}

#keywords-inputArray {
    margin: 0 auto;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.skill-listed {
    cursor: auto;
}
