html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #445766;
    font-family: 'Montserrat';
}

.btn {
    color: white;
    background-color: #445766;
    border-radius: 25px;
}

.btn-decolored {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

.form-control {
    border-radius: 25px !important;
}

#skillsComponent {
    height: 370px;
    width: 370px;
}

#newSkillClickText  {
    text-decoration: underline;
    cursor: pointer;
}

#keywords-inputArray {
    margin: 0 auto;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.skill-listed {
    cursor: auto;
}

.nameAndSurname {
    border: none;
    font-size: x-large;
    text-align: left;
    padding-left: 0px;
}

.links-array-input {
    border: none;
}

.profileInputTextbox {
    border: none;
    padding-left: 0px;
}

.contactDataDiv {
    text-align: left;
}

.profileIntersec {
    color: white;
    background-color: #445766;
    text-align: left;
    margin-left: 50;
}

.longprofileBtn {
    border: none;
    color: black;
    background-color: white;
    text-align: left;
}

.noPaddingLeft {
    padding-left: 0px;
    padding-right: 50px;
}

.container {
    padding-top: 2em;
}
